.main{
    &-intro{
      position: relative;
      &__slide-bg{
        position: absolute;
        @include size(100vw, 100vh);
        top: 0;
        left: 0;
        & img{
          @include size(100%);
          object-fit: cover;
        }
      }
      &__slide-banner{
        padding: 140px 0 0 0;
        height: 70%;
        & img{
          @include size(auto, 100%);
          object-fit: contain;
        }
      }
      &__pagination{
        margin: 0 0 5px;
        & span{
          margin: 0 18px 0 0;
          @include size(13px);
          border-radius: 50%;
          background: #C4C4C4;
          transition: $default-transition;
          cursor: pointer;
          &.swiper-pagination-bullet-active{
            background: #6B5C93;
          }
          &:last-of-type{
            margin: 0;
          }
        }
      }
    }
    &-catalog{
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      @media screen and (max-width: 768px){
        padding: 20px 0;
      }
      & .flower{
        position: absolute;
        bottom: 0;
        right:-100px;
        @media screen and (max-width: 768px){
          bottom: 40%;
          right:unset;
          left: -50px;
          transform: rotate(90deg);
        }
      }
      & .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        @media screen and (max-width: 1024px){
          grid-template-columns: repeat(2, 1fr);
        }
      }
      & h2{
        margin: 0 0 30px;
        @media screen and (max-width: 768px){
          margin: 0 0 5px;
        }
      }
      &__img{
        height: 280px;
        @media screen and (max-width: 480px){
          height: 175px;
        }
        & img{
          @include size(100%, 100%);
          object-fit: cover;
        }
      }
      &__title{
        text-align: center;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        color: #064032;
        @media screen and (max-width: 768px){
          font-size: 18px;
          line-height: 22px;
        }
      }
      &__item{
        position: relative;
        &-link{
          position: absolute;
          @include size(100%);
          top: 0;
          left: 0;
          transition: $default-transition;
          z-index: 1;
          &:hover{
            background: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
    &-cactus{
      overflow: hidden;
      & .container{
        & .flower{
          position: absolute;
          bottom: 20px;
          left:220px;
          @media screen and (max-width: 768px){
            display: none;
          }
        }
      }
    }
    &-news{
      & .container{
        & .flower{
          position: absolute;
          top: -50px;
          left:300px;
          transform: rotate(180deg);
          @media screen and (max-width: 768px){
            top: -100px;
            left: 20%;
          }
        }
      }
    }
    &-succulents, &-news{
      margin: 80px 0 0 0;
      @media screen and (max-width: 768px){
        margin: 20px 0 0 0;
      }
    }
    &-about{
      position: relative;
      margin: 110px 0 0;
      padding: 60px 0;
      & h3{
        font-weight: 600;
        font-size: 2rem;
        line-height: 41px;
        @media screen and (max-width: 768px){
         font-size: 1.5rem;
        }
      }
      &__bg{
        position: absolute;
        @include size(100%);
        top: 0;
        left: 0;
        z-index: -1;
        & img{
          @include size(100%);
          object-fit: cover;
        }
      }
      &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 150px;
        background: rgba(255, 255, 255, 0.5);
        @media screen and (max-width: 768px){
          padding: 24px 40px;
        }
      }
      & p{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 150%;
        text-align: center;
        @media screen and (max-width: 768px){
          padding: 0;
          font-size: 1rem;
        }
      }
      & button{
        margin: 20px 0 0;
      }
    }
    &-benefits{
      margin: 110px 0 40px;
      overflow: hidden;
      @media screen and (max-width: 768px){
        margin: 60px 0 20px;
      }
      & h3{
        padding: 0 0 60px;
        @media screen and (max-width: 768px){
          padding: 0 0 30px;
        }
      }
      & .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &:after{
          display: none;
        }
        & .flower{
          position: absolute;
          top: 100px;
          left:-150px;
          transform: rotate(180deg);
          @media screen and (max-width: 768px){
            top: 150px;
            left:-50px;
            z-index: -1;
          }
        }
      }
      &__list{
        width: 35%;
        @media screen and (max-width: 768px){
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 100%;
        }
        span{
          @include size(70px);
          margin: 0 25px 0 0;
          @media screen and (max-width: 768px){
            margin: 0;
          }
        }
        & li{
          display: flex;
          align-items: center;
          margin: 0 0 20px;
          line-height: 1.5;
          @media screen and (max-width: 768px){
            flex-direction: column;
            width: calc(100% / 3);
            text-align: center;
          }
        }
      }
      &__img{
        width: 55%;
        @media screen and (max-width: 768px){
          width: 60%;
          margin: 0 auto;
        }
        @media screen and (max-width: 480px){
          width: 100%;
        }
        & img{
          @include size(100%, auto);
          object-fit: cover;
        }
      }
    }
    &-carousel{
      position: relative;
      margin: 50px 0 100px;
      overflow: hidden;
      & .flower{
        position: absolute;
        top: -50px;
        left:55%;
        transform: rotate(-110deg);
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      & img{
        @include size(100%);
        max-width: 320px;
        max-height: 320px;
        object-fit: cover;
        @media screen and (max-width: 768px){
          display: block;
        }
      }
      &__container{
        margin: 30px 0 0;
        max-height: 320px;
        @media screen and (max-width: 768px){
          max-height: 160px;
        }
      }
      & .button{
        display: block;
        margin: 40px auto 0;
      }
    }
  }